<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="social">
          <a href="#" class="social__link">
            <img src="assets/svg/facebook.svg" class="social__icon">
          </a>
          <a href="#" class="social__link">
            <img src="assets/svg/twitter.svg" class="social__icon">
          </a>
          <a href="#" class="social__link">
            <img src="assets/svg/instagram.svg" class="social__icon">
          </a>
        </div>
        <p class="copyright">© 2004-2017 Visit Charlotte. All Rights Reserved. 500 S. College Street, Suite 300, Charlotte, NC 28202
        </p>
      </div>
    </div>
  </div>
</footer>
