<app-hero></app-hero>
<app-dates-selection></app-dates-selection>
<div class="container-fluid" *ngIf="selectedDates">
  <div class="row justify-content-lg-between">
    <div class="col-12">
      <h2 class="text-center">Best choices between {{selectedDates[0] | amDateFormat:'LL'}} and {{selectedDates[1] | amDateFormat:'LL'}}</h2>
    </div>
    <div class="col-lg-3">
      <app-aside></app-aside>
    </div>
    <div class="col-lg-9 col-xl-8">
      <app-result-list></app-result-list>
    </div>
  </div>
</div>
