<!-- PRICE RANGE FILTER -->
<div class="filter-group">
  <div class="filter-group__title">Price Range</div>
  <div class="range-slider">
    <div class="range-slider__info">
      <div class="range-slider__from">
        <span class="range-slider__label">Min</span>
        <span class="range-slider__value">$100</span>
      </div>
      <div class="range-slider__to">
        <span class="range-slider__label">Max</span>
        <span class="range-slider__value">$600</span>
      </div>
    </div>
  </div>
</div><!-- /END PRICE RANGE FITLER -->

<!-- RATE FILTER -->
<div class="filter-group">
  <div class="filter-group__title">Stars</div>
</div><!-- /END RATE FILTER -->
