/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~nouislider/distribute/nouislider.min.css";

/*
*
* OVERRIDE STYLES FOR PICK DATETIME COMPONENT
*
*/
.owl-dt-inline-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.owl-dt-container-info {
  display: none;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range,
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: #79bd1a;
}

.owl-dt-calendar-cell-range-to .owl-dt-calendar-cell-selected {
  color: #79bd1a;
  background-color: #fff;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  color: #fff;
}
