/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~nouislider/distribute/nouislider.min.css";
@import '~ngx-bar-rating/themes/br-default-theme';

/**
 *
 * VARIABLES
 *
 */
$gray: #555;
$light-gray: #b5b5b5;
$light-green: #79bd1a;

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  max-width: 1310px;
}

a:focus,
button:focus {
  outline: none;
}

h2 {
  font-weight: 400;
  color: $black;
  font-size: 1.375em;
  margin-bottom: map-get($spacers, 3);

  @media (min-width: 768px) {
    margin-bottom: map-get($spacers, 5);
  }
}

/**
 *
 * BUTTONS
 *
 */
.btn {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  border-style: solid;
  border-width: 2px;
  border-radius: map-get($spacers, 4);
  padding: map-get($spacers, 2) map-get($spacers, 4);

  &:hover {
    transition: all .3s linear;
  }

  &__sm {
    font-size: .75em;
    border-width: 1px;
  }

  &__primary {
    border-color: $orange;
    color: $orange;

    &:not(:disabled):hover {
      background-color: $orange;
      color: $white;
    }

    &:disabled {
      cursor: default;
      border-color: lighten($orange, 25%);
      color: lighten($orange, 25%);
    }
  }

  &__secondary {
    border-color: $light-green;
    color: $light-green;

    &:not(:disabled):hover {
      background-color: $light-green;
      color: $white;
    }
  }
}

/**
 *
 * HERO
 *
 */
.hero {
  background: url('assets/img/hero.jpg') center center no-repeat;
  background-size: cover;
  height: 90px;
  padding-top: map-get($spacers, 3);

  @media (min-width: 992px) {
    & {
      height: 600px;
    }
  }
}

/**
 *
 * LOGO
 *
 */
.logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: map-get($spacers, 2);
  color: $white;
  text-transform: uppercase;
  font-size: 1em;

  &__icon {
    width: 30px;
  }

  &__label,
  &__name {
    display: none;
  }

  @media (min-width: 992px) {
    & {
      margin-bottom: 0;
    }

    &__icon {
      width: 54px;
      margin-bottom: map-get($spacers, 3);
    }

    &__label,
    &__name {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      line-height: 1;
    }

    &__label {
      font-size: 1.375em;
    }

    &__name {
      font-size: 4.75em;
      border-top: 2px solid $white;
      border-bottom: 2px solid $white;
      margin: map-get($spacers, 3) 0;
      padding: map-get($spacers, 3) map-get($spacers, 5);
    }
  }
}

/**
 *
 * NAV
 *
 */
.navbar {
  @media (min-width: 992px) {
    & {
      width: 340px;
    }
  }
}

.nav {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  &__link {
    color: $white;
    font-size: .9375em;
    text-decoration: none !important;
    display: block;
    position: relative;
    overflow: hidden;

    &:hover {
      color: $white;
    }
  }

  @media (min-width: 992px) {
    &__link {
      padding: map-get($spacers, 2);

      &:after {
        content: '';
        border-top: 2px solid $white;
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        transition: left .3s linear;
      }

      &:hover {
        color: $white;

        &:after {
          left: 0;
        }
      }
    }
  }
}

/**
 *
 * DATES SELECTION
 *
 */
.dates-selection {
  background-color: $white;
  margin-bottom: map-get($spacers, 4);

  &__calendar,
  &__dates {
    width: 100%;
  }

  &__calendar {
    text-align: center;
  }

  &__date {
    margin-bottom: map-get($spacers, 2);
  }

  &__label {
    color: $gray;
    font-size: 1.125em;
    text-transform: uppercase;
  }

  &__value {
    color: $light-gray;
  }

  @media (min-width: 576px) {
    & {
      margin-bottom: 0;
    }

    &__calendar,
    &__dates {
      width: auto;
    }

    &__date {
      margin-bottom: map-get($spacers, 4);
    }

    &__label,
    &__value {
      display: block;
      width: 100%;
    }

    &__label {
      font-size: 1.375em;
    }

    &__value {
      font-size: 1.25em;
    }
  }

  @media (min-width: 992px) {
    @include border-radius(map-get($spacers, 2));
    margin-top: -145px;
    padding: 55px 105px;
  }
}

/**
 *
 * ASIDE
 *
 */
.filter-group {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 4);

  &:not(:last-child) {
    border-bottom: 1px solid $gray-300;
  }

  &__title {
    color: $light-gray;
    font-family: 'Heebo', sans-serif;
    font-size: .875em;
  }
}

.range-slider {
  &__to {
    text-align: right;
  }

  &__label,
  &__value {
    display: block;
  }

  &__label {
    color: $light-gray;
    font-family: 'Heebo', sans-serif;
    font-size: .875em;
  }

  &__value {
    color: $orange;
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1;
  }
}

/**
 *
 * LIST ITEM
 *
 */
.list-item {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.22);
     -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.22);
  @include border-radius(map-get($spacers, 2));
  margin-bottom: map-get($spacers, 4);
  padding: map-get($spacers, 3);
  overflow: hidden;
  text-align: center;

  &__img {
    flex-basis: 238px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto map-get($spacers, 2);
  }

  &__about {
    border-bottom: 1px solid $gray-200;
    margin-bottom: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
  }

  &__heading {
    position: relative;
    z-index: 999;
  }

  &__star {
    width: 1em;
    height: 1em;
    font-size: 0.75em;
    line-height: 1;
    margin: 0 2px;
  }

  &__title,
  &__text {
    font-family: 'Heebo', sans-serif;
    font-size: .875em;
  }

  &__title {
    color: $orange;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: map-get($spacers, 2);
  }

  &__text {
    color: $light-gray;
    margin-bottom: map-get($spacers, 3);
  }

  &__back-link {
    color: $gray-700;
    font-family: 'Heebo', sans-serif;
    font-size: .75em;
    text-decoration: none !important;

    &:hover {
      color: $orange;
    }
  }

  &__back-icon {
    width: map-get($spacers, 4);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  &__price-label {
    color: $light-gray;
    padding-right: map-get($spacers, 3);
  }

  &__price-value {
    color: $light-green;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1;
  }

  @media (min-width: 768px) {
    & {
      padding: 0;
      padding-right: map-get($spacers, 4);
      text-align: left;
    }

    &__img {
      margin: 0;
      margin-right: map-get($spacers, 4);
    }

    &__body {
      flex-grow: 1;
    }

    &__about {
      border-bottom: 0;
      border-right: 1px solid $gray-200;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: map-get($spacers, 4);
    }

    &__back-icon {
      margin-right: 7.5em;
    }

    &__price {
      text-align: right;
      padding-top: map-get($spacers, 5);
      flex-basis: 100px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__price-label {
      padding-right: 0;
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__price-value {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  @media (min-width: 1200px) {
    & {
      padding: 2.5em 4.25em 2.5em 0;
      overflow: visible;
    }

    &__img {
      -webkit-box-shadow: 0px 0px 12px 0px rgba(145, 145, 145, 0.47);
         -moz-box-shadow: 0px 0px 12px 0px rgba(145, 145, 145, 0.47);
              box-shadow: 0px 0px 12px 0px rgba(145, 145, 145, 0.47);
      @include border-radius(map-get($spacers, 1));
      overflow: hidden;
      margin: 0 2.5em 0 -3.75em;
    }

    &__rate {
      margin-bottom: map-get($spacers, 3);
    }

    &__title {
      margin-bottom: map-get($spacers, 4);
      font-size: 1em;
    }

    &__text {
      margin-bottom: map-get($spacers, 4);
      font-size: 0.9375em;
    }

    &__price {
      flex-basis: 126px;
    }
  }
}

/**
 *
 * FOOTER
 *
 */
.footer {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.13);
     -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  position: relative;
  z-index: 999;
  padding: map-get($spacers, 3) 0;

  @media (min-width: 992px) {
    & {
      padding: map-get($spacers, 4) 0;
    }
  }
}
.copyright {
  color: $light-gray;
  font-size: 0.75em;
  margin-bottom: 0;
}

/**
 *
 * SOCIAL
 *
 */
.social {
  margin-bottom: map-get($spacers, 3);

  &__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.625em;
  }

  &__icon {
    width: 2.125em;
  }

  @media (min-width: 992px) {
    & {
      margin-bottom: map-get($spacers, 4);
    }
  }
}

/**
 *
 * OVERRIDE STYLES FOR BAR RATING COMPONENT
 *
 */
.br {
  margin: map-get($spacers, 2) 0 !important;
}
.br-defaut .br-unit {
  font-size: 1.625em;
  line-height: 1;
}
.br-default .br-active:after,
.br-default .br-selected:after {
  color: $yellow;
}

/**
 *
 * OVERRIDE STYLES FOR PICK DATETIME COMPONENT
 *
 */
.owl-dt-inline-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.owl-dt-container-row {
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: none;
}

.owl-dt-container-info {
  display: none;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range,
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $light-green;
}

.owl-dt-calendar-cell-range-to .owl-dt-calendar-cell-selected {
  color: $light-green;
  background-color: $white;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  color: $white;
}

/**
 *
 * OVERRIDE STYLES FOR NOUISLIDER COMPONENT
 *
 */
.noUi-horizontal {
  height: 5px;

  .noUi-handle {
    border-radius: 50%;
    border: 4px solid $orange;
    width: 20px;
    height: 20px;
    top: -8px;
  }
}

.noUi-target {
  background-color: $light-gray;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.noUi-connect {
  background-color: $orange;
}

.noUi-origin {
  &:last-child .noUi-handle {
    right: 0 !important;
  }
}

.noUi-handle {
  &:before,
  &:after {
    display: none !important;
  }
}

/**
 *
 * OVERRIDE STYLES FOR CHARTJS COMPONENT
 *
 */
.chartjs-render-monitor {
  max-width: 100%;
  margin-top: -50px;
}
