/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~nouislider/distribute/nouislider.min.css";

/**
 *
 * VARIABLES
 *
 */
$gray: #555;
$light-gray: #b5b5b5;
$light-green: #79bd1a;

.container-fluid {
  max-width: 1310px;
}

/**
 *
 * HERO
 *
 */
.hero {
  background: url('assets/img/hero.jpg') center center no-repeat;
  background-size: cover;
  height: 60px;

  @media (min-width: 992px) {
    & {
      height: 600px;
    }
  }
}

/**
 *
 * NAV
 *
 */
.navbar {
  @media (min-width: 992px) {
    & {
      width: 340px;
    }
  }
}

.nav {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  &__link {
    color: $white;
    text-decoration: none;
  }
}

/**
 *
 * DATES SELECTION
 *
 */
.dates-selection {
  background-color: $white;

  &__calendar,
  &__dates {
    width: 100%;
  }

  &__calendar {
    text-align: center;
  }

  &__date {
    margin-bottom: map-get($spacers, 2);
  }

  &__label {
    color: $gray;
    font-size: 1.125em;
    text-transform: uppercase;
  }

  &__value {
    color: $light-gray;
  }

  @media (min-width: 576px) {
    &__calendar,
    &__dates {
      width: auto;
    }

    &__date {
      margin-bottom: map-get($spacers, 4);
    }

    &__label,
    &__value {
      display: block;
      width: 100%;
    }

    &__label {
      font-size: 1.375em;
    }

    &__value {
      font-size: 1.25em;
    }
  }

  @media (min-width: 992px) {
    @include border-radius(map-get($spacers, 2));
    margin-top: -145px;
    padding: 55px 105px;
  }
}

/**
 *
 * OVERRIDE STYLES FOR PICK DATETIME COMPONENT
 *
 */

.owl-dt-inline-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.owl-dt-container-row {
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: none;
}

.owl-dt-container-info {
  display: none;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range,
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $light-green;
}

.owl-dt-calendar-cell-range-to .owl-dt-calendar-cell-selected {
  color: $light-green;
  background-color: $white;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  color: $white;
}
